body {
  background-color: #3498DB;
  font-family: "Times New Roman";
}

input[type=email], input[type=password], input[type=text] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #F8F9F9;
}

input[type=submit] {
  width: 20%;
  padding: 10px;
  background: #3498DB;
  border: none;
  color: white;
}

hr {
  border: 1px solid #17202A; /*black*/
  margin-bottom: 25px;
  width: 90%;
}

/* Set a style for all buttons */
button {
  background-color: #3498DB;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
  opacity: 0.9;
}

.menubutton {
  background-color: #3498DB;
  width: 5%;
}

.createSurveyButton {
  background-color: #04AA6D;
}

/* Add padding to container elements */
.container {
  padding: 16px;
  text-align: left;
}

.menu {
  background-color: #D0D3D4;
  width: 100%;
  text-align: left;
}

.logoutPosition {
  text-align: right;
}
.Login_panel {
  background-color: #D0D3D4;
  width: 30%;
}

.columns {
  text-align: left;
  padding: 16px;
}

.All_surveys {
  background-color: #D0D3D4;
  width: 60%;
}

#survey_columns {
  width: 100%;
}
#survey_columns td, #survey_columns th {
  border: 1px solid #ddd;
  padding: 8px;
}

#survey_columns td {
  border: 1px solid black;
  background-color: white;
  text-align: left;
}

#survey_columns th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #3498DB;
  color: white;
}
