body {
  background-color: #3498DB;
  font-family: "Times New Roman";
}

input[type=email], input[type=password], input[type=text], input[id="title"] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #F8F9F9;
}

input[type=submit] {
  width: 20%;
  padding: 10px;
  background: #3498DB;
  border: none;
  color: white;
}

.question_selection {
	background-color: rgb(197, 198, 200);
	border-radius: 25px;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 50px;
}
#title, textarea {
	color: black;
	outline: none;
	overflow: auto;
	resize: none;
}

textarea {
	border-left: 10px solid #3498DB;
	font-family: serif;
	font-size: 20px;
}

button:hover {
	background-color: darkgray;
	color: white;
}
.menubutton {
  background-color: #3498DB;
  width: 5%;
}
.menu {
  background-color: #D0D3D4;
  width: 100%;
  text-align: left;
}

button{
  background-color: #3498DB;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
  opacity: 0.9;
}

.questions {
  text-align: center;
}

.Add-Submit-Button {
  background-color: white;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  /*text-decoration: none;*/
  display: inline-block;
  font-size: 16px;
  transition-property: .2s;
}
